<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=true" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
  -->
  
  <system.web>
    <!-- Enable debug mode for development -->
    <compilation debug="true" xdt:Transform="SetAttributes" />
    
    <!-- Development-specific settings -->
    <customErrors mode="RemoteOnly" xdt:Transform="SetAttributes" />
  </system.web>
  
  <appSettings>
    <!-- Development environment settings -->
    <add key="Environment" value="Development" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableDebugMode" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LogLevel" value="Debug" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  
  <system.webServer>
    <!-- Disable HTTPS redirect for localhost in development -->
    <rewrite xdt:Transform="Remove" />
  </system.webServer>
</configuration>